@import url("css/component.css");
@import url("css/tooltip.css");

:host {
    --color-red: #F00;
    --color-blue: #0000FF;
    /* color of year start */
    /* 2023 */
    /* ignite */
    --viva-magenta: #BE3455;
	--pale-dogwood: #EFD1C6;
	--gray-sand: #ECD5B8;
	--gray-lilac: #D4CACD;
	--pale-khaki: #BFAF92;
	--fields-of-rye: #B7A990;
	--agate-gray: #B4B5A5;
	--plein-air: #BFCAD6;

    /* 2024 */
        /* libations 새련되고 도시적인 맛 */
    --brandied-apricot: #CA848A;
    --peach-fuzz: #FFBE98;
    --marsala: #964F4C;
    --almondine: #A78C7B;
    --almond-peach: #D8C8BD;
    --grapeade: #85677B;
    --sauterne: #C5A253;
        /* flavor full 대조적이지만 통통 튀고 신선한 색 */
    --mango-mint: #CDB127;
    --party-punch: #C54966;
    --grapemist: #8398CA;
    --blueberry: #2C333E;
    --green-banana: #BABC72;
    --dijon: #97754C;
    --honey-yellow: #CA9456;
    /* --peach-fuzz: #FFBE98; */
        /* hybrid hues 보색과 보색의 만남 */
    --pale-pansy: #B380AA;
    --myristica: #846157;
    --phlox: #692D5D;
    --sugar-lemon: #E4BF45;
    /* --peach-fuzz: #FFBE98; */
    --sun-dried-tomato: #752329;
    --jade-green: #759465;
    --porcelain: #5D9CA4;
        /* peach plethora 다양한 톤의 복숭아 색 */
    --pristine: #F2E8DA;
    /* --peach-fuzz: #FFBE98; */
    --honey-peach: #DCBD9E;
    --peach-puree: #EFCFBA;
    --peach-pink: #FA9A85;
    --georgia-peach: #F97272;
    --peach-blossom: #DE8286;
    --peach-pearl: #FFB2A5;
        /* pairings 규칙적인 변형으로 친근하고 행복한 느낌 */
    --pink-yarrow: #CE3375;
    --aurora-pink: #E881A6;
    /* --peach-fuzz: #FFBE98; */
    --blazing-orange: #FFA74F;
    --bermuda: #60C8B3;
    --baltic: #279D9F;
    --nautical-blue: #1B5091;
    --little-boy-blue: #6EA1D4;
    /* color of year start */
    --pantone-true-blue: #1E4477;
    --pantone-green-heron: #325B63;
    --pantone-frost-gray: #848283;
    --pantone-bright-white: #F4F9FF;
    --pantone-orchid-ice: #E0D0DB;
}

* {
    user-select: none;
    box-sizing: border-box;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hidden {
    --display: none;
}