@import url("css/component.css");

:host {
    --color-red: #F00;
    --color-blue: #0000FF;
    --viva-magenta: #BE3455;
	--pale-dogwood: #EFD1C6;
	--gray-sand: #ECD5B8;
	--gray-lilac: #D4CACD;
	--pale-khaki: #BFAF92;
	--fields-of-rye: #B7A990;
	--agate-gray: #B4B5A5;
	--plein-air: #BFCAD6;
    --pantone-true-blue: #1E4477;
    --pantone-green-heron: #325B63;
    --pantone-frost-gray: #848283;
    --pantone-bright-white: #F4F9FF;
    --pantone-orchid-ice: #E0D0DB;
}

* {
    user-select: none;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}