nm-list {
    display: grid;

    --template-columns: repeat(auto-fit, minmax(100px, 1fr));
    --gap-r: 8px;
    --gap-c: 2px;
    --hover-color-bg: var(--pale-dogwood);
    --hover-color: #000000;
    --color-border: var(--plein-air);

    & .row {
        display: grid;
        overflow-x: hidden;
        grid-template-columns: var(--template-columns);
        column-gap: var(--gap-c);
        row-gap: var(--gap-r);
        padding-bottom: 2px;

        &:not(.header):hover {
            .item {
                background-color: var(--hover-color-bg);
                color: var(--hover-color)
            }
        }
        
        & .item {
            border: 1px solid var(--color-border);
            border-radius: 2px;
            padding: 2px 4px;
        }
    }
}

nm-grid, .nm-grid {
	--content-height: 300px;
	width: 100%;
	
	&.container {
	}
	
	& .body {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		overflow-y: scroll;
		max-height: var(--content-height);
	}

	& .row {
		display: flex;
		border: 1px solid var(--plein-air);

		&.header {
			& .item {
				display: flex;
			}
		}

		&.content {
			&:hover {
				background-color: var(--plein-air);
				color: var(--viva-magenta);
			}
		}

		& .item {
			padding: 2px 4px;
			width: 100px;
		}
	}
}

.nm-label {
    line-height: 18px;
}

@media screen and (max-width: 860px) {
    .nm-body {
        .container {
            --width: 100%;
            margin: 0 0;
            grid-template-areas: "header" "nav" "aside" "sec" "footer";
            grid-template-columns: minmax(0, 100vw);
            grid-template-rows: minmax(0, min-content) minmax(0, min-content) minmax(0, min-content) minmax(0, auto) minmax(0, auto);
        }
    }

    .nm-aside {
        & .banner {
            height: 75px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(image/banner/banner_horison.png);
        }
    }
}