.tooltip-wrapper {
    --background-color: #000000;
    --opacity: 0.9;

    position: fixed;
    user-select: none;
    width: fit-content;
    height: auto;
    background-color: var(--background-color);
    opacity: var(--opacity);
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    border-radius: 8px;
    padding: 8px 4px;

    &::after {
        opacity: var(--opacity);
        --border-size: 4px;
        border-top: var(--border-size) solid var(--background-color);
        border-left: var(--border-size) solid transparent;
        border-right: var(--border-size) solid transparent;
        border-bottom: 0px solid transparent;
        content: "";
        position: absolute;
        top: 100%;
        left: calc(50% - var(--border-size));
    }

    & .info {
        display: flex;
        padding: 0px 4px;
        --bg-color: none;

        & .color {
            background-color: var(--bg-color);
            width: 12px;
            height: 12px;
            margin: auto 8px auto 0px;
        }

        & .title {
            padding-right: 4px;
        }

        & .value {}
    }
}